Debug/
bin/
Test/
doc/
*.projdata
*.pdb
*.positions
*.user
*.ncb
*.suo
*.plg
*.opt
*.ilk
*.pch
*.idb
*.clw
*.aps
*.cachefile 
*.backup
Guido-Dokumentation.xml
ReadMe.txt
CoffeeDrinkCount/obj/
CoffeeDrinkCount/bin/
